<div class="container">
  <h1 class="mt-3">Chat!</h1>
  <p class="font-weight-light">Chatrooms and Direct Messages</p>
  <% if current_user %>
    <div type="button" class="mb-3">
      <%= link_to "Start Chatting", rooms_path, turbo: "false", class: "btn btn-warning text-dark" %>
    </div>
    <%= link_to "Edit Account", edit_user_registration_path %>
  <% else %>
    <%= link_to "Join the chat", new_user_session_path, turbo: "false", class: "btn btn-info text-dark" %>
    <%#= link_to "Sign up", new_user_registration_path %>
    <%#= link_to "Login", new_user_session_path %>
  <% end %>
</div>
